* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0px 144px 76px;
}

.img {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;

}

section {
    display: inline-block;
    margin-left: 86px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989d9c;
    cursor: pointer;
    margin-right: 23px;

}

.button {
    border-radius: 20.5px;
    background-color: #665ae1;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
}

h1 {
    font-weight: 908px;
    font-size: 103px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 508px;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400px;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-bottom: 65px;
    margin-top: 32px;
}

.button2 {
    background-color: #adff00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}
@media screen and (max-width:800px) {

header { display: none;
}
h1{

font-weight: 900;
font-size: 50px;
line-height: 100%;
letter-spacing: 0%;
}

h2{
font-weight: 500;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;
margin-top: 7px;
}

.button2{
width: 239;
height: 64;
opacity: 1;
border-radius: 50px;
font-weight: 700;
font-size: 28px;
line-height: 100%;
letter-spacing: 0%;
margin-top: 17px;
}

p{
    display: none;
}
.img{
width: 354px;
height: 317px;
margin-left: 14px;
margin-top: 80px;
}
section{
    margin-left: 64px;
    margin-top: 24px;
    word-spacing: 2px;
}
}